h1 {
    font-family: plan_semibold;
    font-size: 3.5rem;
}

h2 {
    font-family: plan_semibold;
    font-size: 2.5rem;
}

h3 {
    font-family: plan_semibold;
    font-size: 1.6rem;
}

p {
    font-family: montreal;
    font-size: .8rem;
}


/* homepage */

.wrapper-nav {
    margin-left: 1.9em;

}

.wrapper {
    margin-left: 1.7em;
}


.bio-heading {
    color: black;
    letter-spacing: -.18rem;
    line-height: 3.8rem;
    max-width: 95%;
    margin-top: 5rem;
}

nav {
    position: fixed;
    top: -8px;
    left: -29px;
    padding-left: 3%;
    width: 110%;
    background-color: white;
    color: black;
    font-family: plan_semibold;
    font-size: .9em;
    border: 1px solid black;

}

body {
    /* background-color: #1C1C1C; */
    background-color: white;
}

.my-description {
    color: black;
    margin-top: 5rem;
    max-width: 28%;
    min-width: 28%;
    line-height: 1.1rem;
}

.scroll-to {
    margin-top: 18rem;
    max-width: 100%;
}

.me {
    margin-top: -2.6rem;
    margin-left: 70rem;
}

.email_btn,
.resume_btn {
    display: inline-block;
    border-radius: 12px;
    border: .9px solid black;
    height: 3em;
    width: 9em;
    background-color: transparent;
    color: black;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.email_btn:hover,
.resume_btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.email,
.resume {
    color: black;
}

.dormify-img {
    display: flex;
    width: 93%;
    height: auto;
}

.tp-img {
    display: flex;
    width: 95%;
    height: auto;
}

.container {
    margin-top: 6rem;
}

.project-dormify,
.project-tp {
    color: black;
    margin-top: 2.1rem;
}

.dormify-logline,
.tp-logline {
    color: #707070;
    font-size: 1rem;
    /* margin-top:-2.5rem; */
}

.dormify-heading,
.tp-heading {
    margin-bottom: -.7rem;
    letter-spacing: -.05rem;
}

.citations {
    margin-top: 7rem;
}